# Ignore all files in feedback/recipients/ except the template
feedback/recipients/*
!feedback/recipients/recipient_template.md

# Ignore personal contributions and reflection drafts
# reflection/contributions/*
reflection_draft/*
